
<%- include('header.ejs') %>
<div class="container p-5">
  <h2 class="introsignup">Vendre un véhicule? C'est très simple!</h2>
  <p>Décrivez-nous votre véhicule</p>
  <form action="/annonce/save" method="post">
    <div class="infosignup">
        <label for="marque" class="nomdescases">Marque:</label>
        <input type="text" class="form-control" id="marque" placeholder="Peugeot" name="marque" required autofocus>
    </div>    
    <div class="infosignup">
        <label for="modele" class="nomdescases">Modèle:</label>
        <input type="text" class="form-control" id="modele" placeholder="208" name="modele" required aria-label="modele">
    </div>
    <div class="infosignup">
        <label for="annee" class="nomdescases">Année:</label>
        <input type="number" class="form-control" id="annee" placeholder="2016" name="annee" required aria-label="annee">
    </div>
    <div class="infosignup">
        <label for="kilometrage" class="nomdescases">Kilométrage:</label>
        <input type="number" class="form-control" id="kilometrage" placeholder="110750 km" name="kilometrage" required aria-label="kilometrage">
    </div>
    <div class="infosignup">
        <label for="prix" class="nomdescases">Prix en euros:</label>
        <input type="number" class="form-control" id="pwd" placeholder="10 500 euros" name="prix" required aria-label="prix">
    </div>
    <div class="infosignupdescription">
        <label for="description" class="nomdescases">Description:</label>
        <textarea type="textarea" cols="40" rows="4" class="form-control" id="description" placeholder="Très bien entretenue" name="description" required aria-label="description"></textarea>
    </div>
    <!--<div class="infosignup">
        <label for="photo" class="nomdescases">Photo:</label>
        <input type="text" class="form-control" id="photo" placeholder="Très bien entretenue" name="photo" required aria-label="photo">
    </div>-->
    <div class="infosignup">
        <label for="codepostal" class="nomdescases">Code postal:</label>
        <input type="text" class="form-control" id="codepostal" placeholder="1000" name="codepostal" required aria-label="codepostal">
    </div>
    <!--div class="infosignup">
        <label for="idcateg" class="nomdescases">Catégorie: (1 = ancien , 2 = récent, 3 = neuf)</label>
        <input type="text" class="form-control" id="categ" placeholder="2" name="idcateg" required>
    </div-->
    <!--<div class="infosignup">
        <label for="idcateg" class="nomdescases">Catégorie   :   (1 = ancien , 2 = récent, 3 = neuf)&nbsp&nbsp&nbsp&nbsp</label>
            <select id="idcateg" name="idcateg" required>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
    </div>-->
    <div class="infosignup">
        <label for="idcategorie" class="nomdescases">Statut de l'annonce: </label>
            <select id="idcategorie" name="idcategorie" required>
                <option value="1">à vendre</option>
                <option value="2">à échanger</option>
                <option value="3">autre</option>
            </select>
    </div>
    </br>
    <div class="login">
    <button type="submit" class="btn btn-secondary btn-lg " class="login">Publier votre annonce</button>
    </div>
</form>

</div>
</br></br></br></br></br>
<%- include('footer.ejs') %>